<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
</head>
<body>
    <p class="list"> 할 일 : {{post.title}} </p>
    <p> 세부사항 : {{post.content}} </p>
    <p> 데드라인 : {{post.deadline}} </p>
    <br>
    <div class="box">
        <div class="small_box">
            <a href= "{% url 'home' %}">홈</a>
        </div>
        <div class="small_box">
            <a href= "{% url 'edit' post.pk %}">수정</a>
        </div>
        <div class="small_box">
            <a href= "{% url 'delete' post.pk %}">삭제</a>
        </div>
    </div>
    
    
</body>

</html>